body {
    background: none; 
    padding: 25px;
    font-style: normal;
    text-transform: none;
    background-color: #CECECE;
}

input {
    margin: 2px;
    font-size: 1em;
}

#wrapper {
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 600px;
    height: 800px;
}


span.result {
    font-weight: bold;
}

#km {
    width: 80px;
}

#input_m, #input_s {
    width: 60px;
}

#footer {
    margin-top: 80px;
    font-size: 15px;
}

